<app-icon-header></app-icon-header>

<div class="body">
  <div class="head">
    <div class="headTop">
      <p class="headText">Your Questionnaires</p>
      <button class="btn" mat-stroked-button routerLink="home">
        <label>New Questionnaire</label>
      </button>
    </div>
    <div class="options">
      <button mat-stroked-button class="select">Secure coding Guide</button>
      <button mat-stroked-button class="select">
        ISMS Questionnaire<mat-icon fontIcon="arrow_forward_ios"></mat-icon>
      </button>
      <button mat-stroked-button class="select">PA Questionnaire</button>
      <button mat-stroked-button class="select">Process Guidelines</button>
    </div>
  </div>
</div>

<span class="material-symbols-outlined"> </span>
<!-- <div>
  
  <div class="bg">
    <div class="questionbar">
      <div class="head">
        <p class="headText">Your Questionnaires</p>
      </div>
    </div>
  </div>
</div> -->
