<div class="form">
  <div class="header">
    <app-head-one></app-head-one>
  </div>
  <div class="innerbox">
    <div class="rec">
      <form name="login" [formGroup]="login">
        <div class="inputFrm">
          <div class="frmG">
            <h2 class="login">Login</h2>
          </div>
          <div class="frmGrp" >
            <mat-form-field appearance="outline">
              <mat-label>Enter Username</mat-label>
              <input type="text" #uname matInput formControlName="username" />
            </mat-form-field>
          </div>
          <div class="frmGrp">
            <mat-form-field appearance="outline">
              <mat-label>Enter Password</mat-label>
              <input type="password" #pass matInput  formControlName="password" />
            </mat-form-field>
          </div>
          <div class="frmGrp">
             <button class="btn" mat-stroked-button (click)="onClick()"> 
                <label>Login</label>
            </button>
          </div>
          <div class="frmGrp">
            <a href="#" class="Forgot" routerLink="forgot">
              <p>Forgot Password?</p>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

