/* You can add global styles to this file, and also import other style files */
*{
    padding: 0%;
    margin: 0%;
}
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    margin: 0;
    padding: 0;
     font-family: 'Nunito Sans', sans-serif!important;
    cursor: default;
}


html, body { height: 100vh;
width: 100vw;}
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-y: scroll;
}
button{
    cursor: pointer;
    border-radius: 7px;
}
vg-play-pause.play:before{
    content: '\f144';
    font-family: FontAwesome;
    font-size: 30px;
    color: white;
}
vg-play-pause.pause:before{
    content: '\f28b';
    font-family: FontAwesome;
    font-size: 30px;
}

.vg-icon-fullscreen:before {
    font-family: FontAwesome;
    content: "\f10c";
}