<div class="smallHeader" *ngIf="headerChange">
  <div class="pc">
    <div class="containerOne">
      <div class="logoOne">
        <img src="assets/Logo(1).png" alt="" />
      </div>
      <div class="searchOne" (ngSubmit)="handleS($event, name.value)">
        <input
          type="text"
          placeholder="Search"
          #name
          (keyup)="handleKey($event, name.value)"
        />
        <button (click)="search(name.value)">SEARCH</button>
      </div>
    </div>
  </div>
  <div class="mob">
    <div class="containerMob">
      <div class="logoOne">
        <img src="assets/Logo.png" alt="" />
      </div>
      <div class="searchmob" (click)="openSearch()">
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>
  <div [class.searchingMenu]="openMenu" *ngIf="openMenu">
    <div (ngSubmit)="handleS($event, name.value)">
      <input
        class="smallIn"
        placeholder="SEARCH"
        type="text"
        (keyup)="handleKey($event, name.value)"
      />
    </div>
    <div class="backbutton">
      <mat-icon class="backbutton"  (click)="back()" >arrow_back</mat-icon>
    </div>
  </div>
</div>
<div *ngIf="!headerChange" class="container">
  <div class="img">
    <img src="assets/Logo.png" alt="logo" />
  </div>
  <div class="descrip">
    <p>Discover the world's best photos & videos</p>
    <div class="inside">
      <p>Best memories online</p>
    </div>
  </div>
  <div class="search" (ngSubmit)="handleS($event, name.value)">

    <input
      type="text"
      placeholder="Search"
      #name
      (keyup)="handleKey($event, name.value)"
    />
    <mat-icon class="searchbtn1 black">search</mat-icon>
    <button class="searchbtn" (click)="search(name.value)">SEARCH</button>
  </div>
</div>
