<div class="full"></div>
<div class="divison1">
  <div class="user">
    <div class="img">
      <img class="dp" src="assets/dpImage.png" alt="Propic" />
    </div>
    <div class="userName">
      <p>Karthik K</p>
      <p>RT Number:RT005685</p>
    </div>
    <div class="heading">
      <div class="h1">ISMS training</div>
      <div class="h3">
        Description of why these terms and conditions are necessary
      </div>
    </div>
    <div class="logo">
      <img src="assets/Robologo.png" alt="logo" />
    </div>
  </div>
  <div class="show"></div>
  <div class="check">
    <mat-checkbox class="check-edit" [(ngModel)]="checked"></mat-checkbox><span>
      I have read all the Terms &conditions</span
    >
  </div>
  <div class="acknow">
    By Clicking the 'I Agree' button you hereby agree to follow all the
    guidelines mentioned above.
  </div>
  <div class="button">
    <button (click)="onClick()"><label>I Agree</label></button>
  </div>

</div>
<footer>  Robosoft Technologies 1996-2020</footer>