<mat-toolbar>
    <div class="toolbar">
        <div class="logo" routerLink="/home">
            <img src="assets/logo/Group 118.png" alt="">
        </div>
        <div class="logo2" routerLink="/home">
            <img src="assets/Group 117.png" alt="">
        </div>
        <div class="search">
                <mat-icon class="searchIcon">search</mat-icon>
                <input class="searchBar" type="text" placeholder="Search">
        </div>
        <div class="profile">
                <div class="noti">
                    <mat-icon>notifications</mat-icon>
                </div>
                <div class="setings">
                    <mat-icon >settings</mat-icon>
                    
                </div>
                <div (click)="open()" class="dp">
                    <img [src]=profile alt="logo">
                </div>
                <div class="dialogue" *ngIf="show">
                        <div (click)="goMyCourse()">
                            <mat-icon>school</mat-icon>My Course
                            <hr>
                        </div>
                        <div>
                            <mat-icon>account_circle</mat-icon>My Profile
                            <hr>
                        </div>
                        <div>
                            <mat-icon>logout</mat-icon>Logout
                        </div>
                </div>
            </div>
    </div>
</mat-toolbar>