.toolbar {
  display: flex;
  justify-content: space-between;
  height: 64px;
  width: 100vw;
  background: #092963;
  align-items: center;
}
mat-toolbar {
  padding: 0;
}
.searchIcon {
  color: white;
  position: relative;
  top: 6px;
  left: 34px;
}
.searchBar {
  width: 34vw;
  padding-left: 10%;
  height: 30px;
  border-radius: 56px;
  background: #1b448aa4;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
  opacity: 0.3;
}

.profile {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  width: 156.2px;
  margin-right: 10vw;
}
.profile mat-icon{
    position: relative;
    top: 6px;
}

.logo img {
  width: 196px;
  height: 42px;
  margin-left: 24px;
  margin-top: 7%;
}

.dialogue {
    z-index: 2;
  position: absolute;
  width: 220px;
  padding-left: 10px;
  padding-right: 10px;
  height: 180px;
  top: 0;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  top: 60px;
  right: 30px;
  color: black;
  text-align: left;
}
.dialogue div {
  margin-top: 8%;
  margin-left: 6%;
}
.dialogue hr {
  margin-top: 6px;
  opacity: 0.1;
  border: 1px solid #042c5c;
}
.dialogue mat-icon {
  margin-right: 9%;
  position: relative;
  top: 7px;
}
.dp{
   height: 39px;
   width: 40px;
}
.dp img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.logo2{
  display: none;
}
.display{
  height: 250px;
}

@media(max-width: 920px){
  .searchBar{
    width: 28vw;
  }
  .search {
width: 40vw;
}
.logo{
  display: none;
}
.logo2{
  display: inline-block;
}
.logo2 img {
  width: 33px;
margin-left: 49px;
  height: 42px;
  margin-top: 7%;
}
}
@media(max-width: 750px){
  .searchIcon {
  color: white;
  position: relative;
  top: 6px;
  left: 31vw;
  }
}
@media(max-width: 500px){
  .logo2 img{
    margin-left: 14px;
  }
  .profile{
    margin-right: 5vw;
  }
}