<div class="form">
  <div class="header">
    <app-head-one></app-head-one>
  </div>
  <div class="innerbox">
    <div class="rec">
      <form action="" [formGroup]="change">
        <div class="inputFrm">
          <div class="frmG">
            <h2 class="change">Change Password</h2>
          </div>
          <div class="frmGrp">
            <mat-form-field appearance="outline">
              <mat-label>Enter Password</mat-label>
              <input type="password" matInput #pass formControlName="pass"/>
            </mat-form-field>
          </div>
          <div class="frmGrp">
            <mat-form-field appearance="outline">
              <mat-label>Re-Enter New Password</mat-label>
              <input type="text" matInput #newPass formControlName="newPass"/>
            </mat-form-field>
          </div>
          <div class="frmGrp">
             <button class="btn" 
             (click)="onClick()"
             mat-stroked-button > 
                <label>Update</label>
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>