

.innerbox {
  height: 385px;
  width: 535px;
  border-radius: 20px;
  background-color: white;
  margin: auto;
  margin-top: 377px;

  text-align: center;
}

.form {
  height: 1138px;

  width: 100%;
  background: linear-gradient(52.03deg, #7a7fc8 0%, #bd385b 100%);
}

.inputFrm {
  margin-top: 200px;
}

mat-form-field {
  height: 56px;

  width: 320px;

  border-radius: 4px;

  margin-bottom: 19px;

  border: 1px solid rgb(0, 0, 0, 0, 38);
}

.btn{
  height: 49px;

  width: 149px;
 margin-bottom: 81px;
  border-radius: 50px;
  background: #f44876;
  border: none;
}

.btn label{
  height: 16px;
  width: 53.03px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: center;
}

.change {
  padding-top: 49.5px;
  margin-bottom: 30px;
}

.body {
  height: 1440px;
  
}

.box {
  width: 535px;
  height: 385px;
  background-color: #e73e6b;
  border-radius: 20px;
  text-align: center;
  margin-top: 33%;
  margin: auto;
}

.Forgot{
  text-decoration: none;
    height: 14px;
  width: 97px;
  opacity: 0.8;
  color: #000000;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
}