<div class="cityone" id="sct1">
    <h2>Mumbai</h2>
<p>Mumbai is not a city but an experience in itself.

    The largest city of India has been aptly titled ‘The City of Dreams’ since time immemorial. But don’t mistake Mumbai to be just a land of endless opportunities and explore the cultural heritage it holds so dearly. </p>
</div>
<ul>
      <li (click)="onSelect(department)"   *ngFor="let department of departments"><button [class.selected]="isSelected(department)">{{ department.name }}</button><br><br>
      </li>
</ul>





