<div class="heading">
  <div class="h1">
    <mat-icon  (click)="ham()" >menu</mat-icon>
    <div class="back" *ngIf="display"  (click)="ham()">
      <li><a class="hom" (click)="ham()"  >Home</a></li>
      <li><a routerLink="/fav" >Favourite</a></li>
      <li><a routerLink="/recent">Recent Search</a></li>
    </div>
  <div class="logo">
      <img src="assets/logo_web.png" alt="logo" />
    </div>
  <div class="search">
    <mat-icon >search</mat-icon>
  </div>
</div>
<div class="day">
  <p>
      {{date| date:'EEE, dd MMM'|uppercase}} 
       {{date| date:'h.mm a'}}
       </p>
  </div>

</div>

<div class="outer"  >
  <div class="place">{{ place  | titlecase }},{{ Country  | uppercase }}</div>
  <div class="fav">
    <div *ngIf="fav; then add; else added"></div>
    <ng-template #add>
      <div class="false">
        <mat-icon class="false" (click)="favadd()">favorite_border</mat-icon
        ><label></label>Add to favorite
      </div>
    </ng-template>
    <ng-template #added>
      <mat-icon class="true" (click)="favadded()">favorite</mat-icon
      ><label class="yellow">Added to favorite</label></ng-template
    >
  </div>
  <div class="display">
    <img [src]="icon" alt="asdas" />

    <div class="show">
      <div class="val">
        <label>{{ temp }}</label>
      </div>
      <div class="cel">
        <div ><button class="degree" [class]="bagc" (click)="cel()"  >&deg;C</button></div>
        <div ><button class="faren" [class]="bagf" (click)="far()" >&deg;F</button></div>
      </div>
    </div>
    <div class="weather">{{this.detail['weather'][0].main}}</div>
  </div>
</div>
<hr>
<div class="footer">  
  <div class="box">
      <div class="logo">
        <img src="assets/icon_temp.png" alt="temp" />
      </div>
      <div class="text">
        <div class="head">Min-Max</div>
        <div class="detail">{{tempmin}}&deg;-{{tempmax}}&deg;</div>
      </div>
  </div>
  <div class="box" >
      <div class="logo" >
        <img src="assets/icon_precipitation.png" alt="temp" />
      </div>
      <div class="text">
        <div class="head">Presure</div>
        <div class="detail">{{pressure}}atm</div>
      </div>
  </div>
  <div class="box" >
      <div class="logo" >
        <img src="assets/icon_humidity.png" alt="temp" />
      </div>
      <div class="text">
        <div class="head">Humidity</div>
        <div class="detail">{{humidity}}% </div>
      </div>
  </div>
  <div class="box" >
      <div class="logo" >
        <img src="assets/icon_wind.png" alt="temp" />
      </div>
      <div class="text">
        <div class="head">Wind</div>
        <div class="detail">{{wind}}mph</div>
      </div>
  </div>
  <div class="box" >
      <div class="logo" >
        <img src="assets/icon_visibility.png" alt="temp" />
      </div>
      <div class="text">
        <div class="head">Visibility</div>
        <div class="detail">{{visib}}m</div>
      </div>
  </div>
</div>

<!-- 

 <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle>&deg;C</mat-button-toggle>
  <mat-button-toggle >&deg;F</mat-button-toggle>
</mat-button-toggle-group> -->
