<div class="form">
  <div class="header">
    <app-head-one></app-head-one>
  </div>
  <div class="innerbox">
    <div class="rec">
      <form action="">
        <div class="inputFrm">
          <div class="frmG">
            <p class="message">Check your email.We have sent a link to update your password </p>
          </div>
          <div class="frmGrp">
             <button mat-stroked-button  class="btn" routerLink=""> 
                <label> OK</label>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
