/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    padding: 0;
    color: white;
    height: auto;
    width: 100%;
    overflow-y: visible;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
