
  <div class="header1">
    
    <div class="logo">
      <img src="assets/logo_web.png" alt="logo" />
    </div>
    <div class="searchbar" (ngSubmit)="handleS($event,search.value)">
      <input type="text" placeholder="Search" class="search" #search mat-input (keyup)="handleKey($event,search.value)">
      <mat-icon (click)="find(search.value)" >search</mat-icon>
    </div>
  </div>
  <div class="navBar">
     <div class="options">
  <a href="#" routerLink="">HOME</a>
  <a href="#" routerLink="/fav">FAVOURITE</a>
  <a href="#" routerLink="/recent">RECENT SEARCH</a>
</div> 
    <div class="day">
        <p class="p">{{date| date:'EEE, dd MMM'}} </p>
        <p> {{date| date:'h.mm a'}}</p>
  </div>

  
</div>