
.background{
  background-image: url(src/assets/background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width : 100vw;
}
.hanburg{
  display: none;
}
.header1{
  display: flex;
  justify-content: space-between;
  margin-left:10vw;
  margin-right: 10vw;
  margin-bottom: 5.7vh;
}
.body{
  max-height: fit-content;
  /* opacity: ; */
  margin-left:10vw;
  margin-right: 10vw;
}
hr{
    border: 1px solid #FFFFFF;
}
.logo img{
  height: 30px;
  width: 142px;
}

.logo{
  margin-top: 4.25%;
  display: flex;
  align-items: center;
}
.searchbar{
  margin-top: 4.08%;
  display: flex;
  position: relative;
  align-items: center;
}

.search{
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.122);
  border: 1px solid #ffffff00;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  height: 5.54vh;
  width: 38vw;
}
mat-icon{
  position: relative;
  margin-left: -4vh;
  color: #FFFFFF;
  opacity: 0.5px;
}


.navBar{
  display: flex;
  justify-content: space-between;
  margin-left:10%;
  margin-right: 10%;
}
.options{
  display: flex;
  align-items: center;
}
.day{
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: right;
  display: flex;
  align-items:center;
  color: #FFFFFF;
}
.options {
  line-height: 15px;
  font-size: 13px;
  overflow: hidden;
}

.options a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.options a:hover{
  transition: none;
  color: #FFD639;
  border-bottom: 2px solid #FFD639;
}
 a:focus{
  color: #FFD639;
  border-bottom: 2px solid #FFD639;
}
.p{
  margin-right: 11px;
}
@media (max-width: 700px){
  .hanburg{
  display: none;
  }
  .navBar{
  display: flex;
  justify-content: space-between;
  margin-left:10%;
  margin-right: 10%;
}
.options{
  display: flex;
  align-items: center;
}
.day{
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
  text-align: right;
  display: flex;
  align-items:center;
  color: #FFFFFF;
}
.options {
  line-height: 15px;
  font-size: 13px;
  overflow: hidden;
}

.options a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  font-size: 14px;
}

.options a:hover{
  transition: none;
  color: #FFD639;
  border-bottom: 2px solid #FFD639;
}
 a:focus{
  color: #FFD639;
  border-bottom: 2px solid #FFD639;
}
.p{
  margin-right: 9px;
}
.logo img{
   height: 30px;
  width: 142px;
}
}

@media (max-width: 500px){
  .hanburg{
  text-align: left;
  background-color: #FFFFFF;
  display: block;
  /* width: 50px;
  height: 400px; */
  }
  .hanburg ul{
    margin: 0;
    padding: 0;
    
  }
  .hanburg ul li{
    list-style-type: none;
  }
    .background{
      text-align: center;
  background-image: url(src/assets/background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 40px; */
    height: 100%;
    width : 100%;
   
}
.header1{
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  margin-left:0%;
  margin-right: 4%;
  margin-bottom: 5.7vh;
}
.body{
  margin-left:0%;
  margin-right: 0%;
  /* opacity: ; */
  /* margin-left:10vw;
  margin-right: 10vw; */
}
hr{
    display: none;
    border: 1px solid #FFFFFF;
}
.logo img{
  width: 31vw;
  height:3.75vh ;
}

.logo{
  margin-top: 4.25%;
  display: flex;
  align-items: center;
}
.searchbar{
  margin-top: 4.08%;
  display: flex;
  position: relative;
  align-items: center;
}

.search{
  border-radius: 3px;
  background-color: rgba(255,255,255,0.6);
  border: 1px solid #FFFFFF2F;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  height: 5.54vh;
  width: 38vw;
}
mat-icon{
  position: relative;
  margin-left: -4vh;
  color: #FFFFFF;
  opacity: 0.5px;
}


.navBar{
  /* display: flex;
  justify-content: space-between; */
  text-align: center;
  margin-left:10%;
  margin-right: 10%;
}
.options{
  line-height: 15px;
  font-size: 13px;
  overflow: hidden;
  display: none;
  /* display: flex;
  align-items: center; */
}
.day{
  margin:auto;
    opacity: 0.6;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 1.5px;
  line-height: 15px;
  text-align: center;
}

.options a {
  display: none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

.options a:hover{
  display: none;
  transition: none;
  color: #FFD639;
  border-bottom: 2px solid #FFD639;
}
 a:focus{
  display: none;
  color: #FFD639;
  border-bottom: 2px solid #FFD639;
}
.p,p{
  /* font-size-adjust: calc(0.7); */
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase ;
}

input{
  display: none;
}
    }


