<div class="nav-outer">
    <div class="left">
        <div class="logo">
            <img src="assets/logo/navLogo.png" alt="">
        </div>
        <div class="name">
            Shoppie
        </div>
    </div>
    <div class="search">
        <div>
            <input type="text" placeholder="Search the product">
        </div>
        <div class="search-icon" >
            <mat-icon> search </mat-icon>
        </div>
    </div>
    <div class="right">
            <div><mat-icon>home</mat-icon></div>
            <div routerLink="signUp"><mat-icon>sell</mat-icon></div>
            <div><mat-icon>shopping_cart</mat-icon></div>
            <div><mat-icon>logout</mat-icon></div>
    </div>
</div>