<div class="main">
  <h3>User Reg</h3>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
    <!-- {{userForm.value|json}} -->
    <hr />
    <!-- <hr> -->
    <!-- {{userModel|json}} -->
{{userForm.form.valid}}
    <div class="form-group">
      <label>Name&emsp;&nbsp;&nbsp;</label>
      <input
        type="text"
        required
        #name="ngModel"
        [class.alert]="name.invalid && name.touched"
        [(ngModel)]="userModel.name"
        name="Username"
      /><br />
      <small [class.display]="name.valid || name.untouched"
        >Name is required</small
      >
    </div>
    Untouched {{ name.untouched }} || Pristine {{ name.pristine }} || Valid
    {{ name.invalid }}
    <div>
      <label for="">Email&emsp;&nbsp;&nbsp;</label>
      <input
        type="email"
        required
        #email="ngModel"
        [class.alert]="email.invalid && email.touched"
        [(ngModel)]="userModel.email"
        name="email"
      /><br />
      <small [class.display]="email.valid || email.untouched"
        >Email is required</small
      >
    </div>
    <div>
      <label for="">Number&nbsp;</label>
      <input
        type="number"
        required
        #phone="ngModel"
        pattern="\d{10}$"
        [class.alert]="phone.invalid && phone.touched"
        [(ngModel)]="userModel.number"
        name="number"
      /><br />
      <small [class.display]="phone.valid || phone.untouched"
        >Must be 10 digit</small
      >
    </div>
    <div class="k" ngModelGroup="Address">
      <label>House Name</label>
      <input type="text" [(ngModel)]="userModel.hName" name="Hname" />
      <br /><br />
      <label>Street&emsp;&nbsp;&emsp;&nbsp;</label>
      <input type="text" [(ngModel)]="userModel.sName" name="street" /><br />
      <br />
    </div>
    <div>
      <label for="">Gender</label><br />
      <input
        type="radio"
        name="gender"
        [(ngModel)]="userModel.gender"
        value="Male"
      />Male &nbsp;
      <input
        type="radio"
        name="gender"
        [(ngModel)]="userModel.gender"
        value="Female"
      />female &nbsp;
      <input
        type="radio"
        name="gender"
        [(ngModel)]="userModel.gender"
        l
        value="Other"
      />Other
    </div>

    <div>
      <label for="">Select prefered item:&emsp;</label>
      <select (blur)="validate(cho.value)" (change)="validate(cho.value)"
        required
        #cho="ngModel"
        [class.alert]="validate && cho.touched"
        [(ngModel)]="userModel.choice"
        name="choice"
      >
        <option selected value="">I am intrested in</option>
        <option *ngFor="let item of topic">{{ item }}</option>
      </select>
      <small [class.display]="cho.valid || cho.untouched">Select a valid data </small>
    </div>
    
    <div>
      <label for="" name="dob">DOB&emsp;</label>
      <input type="date" name="dob" />
    </div>
    <div>
      <input type="checkbox" name="agree" ngModel />
      <label>&nbsp;I agree to the terms and Conditions</label>
    </div>
    <input appHover [disabled]="userForm.form.invalid" type="submit" value="Submit" />&nbsp;
    <input type="reset" appHover name="" id="" />
  </form>
</div>
