.mob{
  display: none;
}

.body {
  margin: 0 5.583vw;
}
.title {
  margin-top: 7.72vh;
}

.place {
  font-size: 20px;
}
.fav {
  margin-top: 2.03vh;
  display: flex;
  align-items: center;
}
.yellow {
  color: #fad05b;
}
.fav span {
  font-size: 15px;
  margin-left: 0.7vh;
}
.active {
  background-color: white;
  color: red;
}
.contain2 {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  align-items: center;
}
.detail {
  margin-top: 3.93vh;
}
.detail img {
  width: auto;
  height: auto;
  margin-bottom: 0px;
}
.temp {
  display: flex;
  margin-top: -3vh;
  /* width: 30%;
    margin: 0 auto; */
  justify-content: center;
}
.temp .value {
  font-size: 64px;
  padding: auto;
}
.choice {
  margin-left: 5px;
  display: flex;
  justify-content: center;
}
.box {
  width: 36.35px;
  height: 32px;
  border: 1px solid white;
}
.content {
  margin-top: 6px;
}
.weather {
    margin-top: 1.5vh;
    font-size: 22px;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-left: 5.4vw;
  width: 89.2vw;
  left: 0;
  margin-bottom: 2.4vh;
  overflow-x: scroll;
  /* border: 1px solid rgb(194, 75, 75); */
  height: 95px;
  border-top: 1px solid white;
}
.boxing {
  font-size: 19px;
  margin-top: 5.2vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 2.5vw;
  height: auto;
}
.box1 .logo {
  height: fit-content;
}
.box1 {
  height: 20px;
  display: flex;
  width: 130px;
  margin-left: 15px;
}
.text {
  margin-left: 15px;
}

@media(max-height:700px){
  .title {
margin-top: 1.72vh;
}
}
@media(max-width:500px){
  .mob{
    display:block;  
}
.title{
  margin-top: 0;
}
.mob{
  margin: 0 4vw;
}
.mobNav {
  display: flex;
  justify-content: space-between;
margin-top: 3vh;
}
.ham img{
  margin-left: 32px;
}
.date{
  margin-top: 4vh;
  text-align: center;
  margin: 0 10.72vw;
  font-size: 16px;
  opacity: 0.6;
}
.mob > div:nth-child(2) {
   margin-top: 4vh;
}
.title{
  text-align: center;
}
.place{
  margin-top: 1.5vh;
}
.iicon{
  text-align: center;
}
.fav{
margin-top: 3vh;
 display: flex;
  justify-content: center;
}
.footer {
margin: 0px;
width: 100vw;
background-color: rgba(255, 255, 255, 0.179);

}
}