
<div class="container">
  <div class="show">
    <div class="grid">
      <div class="img">
        <img src="https://source.unsplash.com/random?sig={{getRandomNumber()}}" alt="sdsa" />
      </div>
      <div class="details">
        <div class="heading">
          {{ details.name | uppercase}}
        </div>
        <div class="scroll">
          <div class="info">
            <div class="infos">
              <div class="grey">Model&nbsp;:&nbsp;</div>
              <div>{{ details.model | titlecase }}</div>
            </div>
            <div class="infos">
              <div class="grey">Manufacturer:&nbsp;:&nbsp;</div>
              <div>{{ details.manufacturer | titlecase }}</div>
            </div>
            <div class="infos">
              <div class="grey">Cost In Credits&nbsp;:&nbsp;</div>
              <div>{{ details.cost_in_credits }}</div>
            </div>
            <div class="infos">
              <div class="grey">Lengthl&nbsp;:&nbsp;</div>
              <div>{{ details.length | titlecase }}</div>
            </div>
            <div class="infos">
              <div class="grey">Crew&nbsp;:&nbsp;</div>
              <div>{{ details.manufacturer | titlecase }}</div>
            </div>
            <div class="infos">
              <div class="grey">Cargo Capacity&nbsp;:&nbsp;</div>
              <div>{{ details.cargo_capacity }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
