<div class="full">

    <div class="header">
        <div class="banner">
            <div class="quoteHead">
                <div class="quote">"You don’t expect to be at the top of the mountain the day you start climbing."</div>
                <div class="legend">
                    - Ron Dennis
                </div>
            </div>
            <div class="animation">
                <div class="Name">
                    PlanetF1
                </div>
                <div class="flex">
                    <div class="ball">
                        <img src="assets/car.png" alt="">
                    </div>
                    <div class="ball1">
                        <img src="assets/car.png" alt="">
                    </div>
                </div>
            </div>
            <div class="goIn" routerLink="dashboard">
                <button>
                    <mat-icon>sports</mat-icon>Lets Go..
                </button>
            </div>
        </div>
    </div>
    <div class="contentBody">
        <div class="hr"></div>
        <h2>FUN FACTS</h2>
        <div class="facts">
            <div class="itm">
                <mat-icon>local_fire_department</mat-icon>
                <h3>
                    During a run, the cockpit can heat up to 50 degree Celsius.
                </h3>
            </div>
            <div class="itm">
                <mat-icon>speed</mat-icon>
                <h3>
                    An f1 car can reach up to 360 kmph during a race.
                </h3>
            </div>
            <div class="itm">
                <mat-icon>sports_motorsports</mat-icon>
                <h3>
                    F1 helmets are so strong and durable that they can last temperature of 800-degree Celsius for 45
                    seconds.
                </h3>
            </div>
            <div class="itm">
                <mat-icon>tire_repair</mat-icon>
                <h3>
                    Racing tires lose about 0.5 kg of weight in each race.
                </h3>
            </div>
        </div>
        <div class="about">
            <div class="about-img">
                <img height="100%" width="100%" src="assets/about1.jpg" alt="">
            </div>
            <div class="aboutInfo">
                <i class="about-heading">ABOUT</i>
                <p class="p">Formula 1</p>
                <p class="discr">Formula One is the highest class of international racing.The World Drivers'
                    Championship, which became the FIA Formula One World Championship in 1981.Formula One cars are the
                    fastest regulated road-course racing cars in the world</p>

            </div>

        </div>
        <div class="seasson">
            <p class="about-heading1 lift center "> GRAND PRIX 2023</p>
            <div class="standing">
                <p class="p">POINT TABLE</p>
                <span><b>DRIVER</b><b>TEAM</b></span>
                <div class="driver" *ngIf="true">
                    <div class="card">
                        <div class="pos">
                            <div class="img">
                                <img src="assets/driver.jpeg" height="100%" width="100%" alt="">
                            </div>
                            <div class="bottom center">
                                <p>
                                    Charles Leclerc
                                </p>
                                <div class="flag">

                                </div>
                            </div>
                        </div>
                        <div class="pos">
                            <div class="img">
                                <img src="assets/driver.jpeg" height="100%" width="100%" alt="">
                            </div>
                            <div class="bottom center">
                                <p>
                                    Charles Leclerc
                                </p>
                                <div class="flag">

                                </div>
                            </div>
                        </div>
                        <div class="pos">
                            <div class="img">
                                <img src="assets/driver.jpeg" height="100%" width="100%" alt="">
                            </div>
                            <div class="bottom center">
                                <p>
                                    Charles Leclerc
                                </p>
                                <div class="flag">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table">
                        <div class="table-item">
                            <div class="left">
                                <div class="position">1</div>
                                <div class="name">Max Verstapen</div>
                                <div class="team">Redbull</div>
                            </div>
                            <div class="right">
                                <div class="points">355</div>
                                        <div class="arrow">
                                            <mat-icon>arrow_forward_ios</mat-icon>
                                        </div>
                            </div>
                        </div>
                        <div class="table-item">
                            <div class="left">
                                <div class="position">1</div>
                                <div class="name">Max Verstapen</div>
                                <div class="team">Redbull</div>
                            </div>
                            <div class="right">
                                <div class="points">355</div>
                                <div class="arrow">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                            </div>
                        </div><div class="table-item">
                            <div class="left">
                                <div class="position">1</div>
                                <div class="name">Max Verstapen</div>
                                <div class="team">Redbull</div>
                            </div>
                            <div class="right">
                                <div class="points">355</div>
                                <div class="arrow">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                            </div>
                        </div><div class="table-item">
                            <div class="left">
                                <div class="position">1</div>
                                <div class="name">Max Verstapen</div>
                                <div class="team">Redbull</div>
                            </div>
                            <div class="right">
                                <div class="points">355</div>
                                <div class="arrow">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="constructors" *ngIf="false">

                    </div>
                </div>
            </div>
        </div>
    </div>