<div class="outer">
  <div class="inner">
    <div class="headText">Add/Remove Super Admins</div>
    <div class="close">
      <mat-icon
        aria-hidden="false"
        fontIcon="close"
        routerLink="/home"
        mat-dialog-close
      ></mat-icon>
    </div>
    <div class="add">
      <div class="frmGrp">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Enter name</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="frmGrp">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Enter Employee Code</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="frmGrp1">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Enter Mail ID </mat-label>
          <input type="text" matInput />
        </mat-form-field>
        <button class="btn1">
          <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
        </button>
      </div>
    </div>
    <div class="dotBox"></div>
    <div class="displayout">
      <div class="display">
        <div class="frmGrp">
          <mat-form-field appearance="outline" class="input">
            <input matInput />
          </mat-form-field>
        </div>
        <div class="frmGrp">
          <mat-form-field appearance="outline" class="input">
            <input matInput />
          </mat-form-field>
        </div>
        <div class="frmGrp1">
          <mat-form-field appearance="outline" class="input">
            <input type="text" matInput />
          </mat-form-field>
          <button class="btn1">
            <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
          </button>
          <button class="btn2">
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
          </button>
        </div>
      </div>
      <div class="display">
        <div class="frmGrp">
          <mat-form-field appearance="outline" class="input">
            <input matInput />
          </mat-form-field>
        </div>
        <div class="frmGrp">
          <mat-form-field appearance="outline" class="input">
            <input matInput />
          </mat-form-field>
        </div>
        <div class="frmGrp1">
          <mat-form-field appearance="outline" class="input">
            <input type="text" matInput />
          </mat-form-field>
          <button class="btn1">
            <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
          </button>
          <button class="btn2">
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
          </button>
        </div>
      </div>
      <div class="options">
        <button ><label > Update</label></button>
        <button ><label>Cancel</label></button>
      </div>
    </div>
  </div>
</div>
