.box{
    border-radius: 20px;
    margin-top: 7.4vh;
    text-align: center; 
}
.text{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8.2vh;
}
button{
    width: 10.41vw;
    height: 5.08vh;
    border: none;
    background-color: white;
}


button:hover{
    background-color:#F76B1C;;
}

@media (max-width:500px){
    .box{
    border-radius: 20px;
    margin-top: 0px;
    
    text-align: justify;    
}

.text{
    margin: 21px 24px;
    font-size: 16px; 
    line-height: 24px;
    margin-bottom: 25px;
}
button{
    font-size: 14px;
    color:#673AB7;
    width: 80px;
    height: 5.08vh;
    border: none;
    background-color: white;
}
.choice{
    margin-left: 101px;
}


button:hover{
    background-color:#dededeec;;
}
}