.box{
    border-radius: 20px;
    margin-top: 7.4vh;
    text-align: center; 
}
.text{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8.2vh;
}
button{
    width: 6.41vw;
    height: 5.08vh;
    border: none;
    background-color: white;
}

button:hover{
    background-color:#F76B1C;;
}

@media (max-width:500px){
    
}