<app-header></app-header>
<div>
  <div  class="container1" *ngIf="display">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="container">
    <div class="grid">
      <div *ngFor="let i of fav">
      <div class="box" >
        {{checkImage(i)}}
        <div class="img" *ngIf="image">
        <img class="og" src="{{i.src.original}}" alt="" />
        </div>
        <div class="video" *ngIf="!image">
        <video  class="og" controls>
          
          <source src="{{i.url}}" type="video/mp4">
          <source src="{{i.url}}" type="video/ogg">
    </video>
        </div>
        <div class="detail">
          <div class="fav">
            <div><mat-icon style="color:red" (click)="remove(i)">favorite</mat-icon></div>
          </div>
          <div class="owner" (click)="getDetail(i)">
            <div class="dp">
              <img src="assets/Oval Copy 5.png" alt="" />
            </div>
            <div class="username">{{name(i)}}</div>
          </div>
        </div>
      </div>
      </div> 
    </div>
    <app-footer></app-footer>

  </div>
</div>

