<div class="main">
    <div class="selections">
      <img src="assets/Topics/films_normal.png" alt="Films" routerLink="/films" onmouseenter="this.src='assets/Topics/films_pressed.png'" onmouseleave="this.src='assets/Topics/films_normal.png'"   />
      <p>FILMS</p>
    </div>
    <div class="selections">
      <img src="assets/Topics/species_normal.png" alt="Species"routerLink="/species" onmouseenter="this.src='assets/Topics/species_pressed.png'" onmouseleave="this.src='assets/Topics/species_normal.png'"  />
      <p>SPECIES</p>
    </div>
    <div class="selections">
      <img src="assets/Topics/planets_normal.png" alt="Planets" routerLink="/planets" onmouseenter="this.src='assets/Topics/planets_pressed.png'" onmouseleave="this.src='assets/Topics/planets_normal.png'" />
      <p>PLANETS</p>
    </div>
    <div class="selections">
      <img src="assets/Topics/characters_normal.png" alt="People" routerLink="/characters" onmouseenter="this.src='assets/Topics/characters_pressed.png'" onmouseleave="this.src='assets/Topics/characters_normal.png'" />
      <p>PEOPLE</p>
    </div>
    <div class="selections">
      <img src="assets/Topics/droids_normal.png" alt="Starship" routerLink="/starship" onmouseenter="this.src='assets/Topics/droids_pressed.png'" onmouseleave="this.src='assets/Topics/droids_normal.png'"  />
      <p>STARSHIP</p>
    </div>
    <div class="selections">
      <img src="assets/Topics/vehicles_normal.png" alt="Vehicle" routerLink="/vehicles" onmouseenter="this.src='assets/Topics/vehicles_pressed.png'" onmouseleave="this.src='assets/Topics/vehicles_normal.png'"  />
      <p>VEHICLE</p>
    </div>
</div>