<div class="heading">
  <div class="back">
    <mat-icon (click)="back()" >arrow_back</mat-icon>
  </div>
  <div class="title">
    <b> Favorites</b>
  </div>
  <div class="search">
    <mat-icon matSuffix>search</mat-icon>
  </div>
</div>
<div *ngIf="fav; then avail; else notavail"></div>
<ng-template #avail>
  <div class="body">
    <div class="details">
      <div class="list">{{ count }} Added as favourite</div>
      <div class="clear">
        <button (click)="option()"><b>Remove All</b></button>
      </div>
    </div>

    <div class="table">
      <table class="tab_container">
        <tr class="color" *ngFor="let di of favour">
          <td>
            <div class="total">
              <div class="cnt1">
                <p class="place">{{di.data.name}},{{di.data.sys.country}}</p>
              </div>
              <div class="inside_td">
                <div><img src="http://openweathermap.org/img/wn/{{di.data.weather[0].icon}}@4x.png" alt="" /></div>
                <div class="text_td">
                  <p class="p"><span class="big">{{di.data['main'].temp-273.15|number:'2.0-0'}}</span>&deg;c</p>
                </div>
                <div><p class="index">{{di.data.weather[0].main}}</p></div>
              </div>
              <div class="fav">
                <div *ngIf="check; then add; else added"></div>
                <ng-template #add>
                  <div class="false">
                    <mat-icon class="false" (click)="toggle()"
                      >favorite_border</mat-icon
                    >
                  </div>
                </ng-template>
                <ng-template #added>
                  <mat-icon class="true" (click)="toggle()"
                    >favorite</mat-icon
                  ></ng-template
                >
              </div>
            </div>
          </td>
        </tr>
        <!-- <tr class="color">
          <td>
            <div class="total">
              <div class="cnt1">
                <p class="place">{{ place }},{{ State }}</p>
              </div>
              <div class="inside_td">
                <div><img src="assets/sunny.png" alt="" /></div>
                <div class="text_td">
                  <p class="p"><span class="big">75</span>&deg;c</p>
                </div>
                <div><p class="index">Mostly Sunny</p></div>
              </div>
              <div class="fav">
                <div *ngIf="check; then add; else added"></div>
                <ng-template #add>
                  <div class="false">
                    <mat-icon class="false" (click)="toggle()"
                      >favorite_border</mat-icon
                    >
                  </div>
                </ng-template>
                <ng-template #added>
                  <mat-icon class="true" (click)="toggle()"
                    >favorite</mat-icon
                  ></ng-template
                >
              </div>
            </div>
          </td>
        </tr> -->
        
      </table>
    </div>
  </div>
</ng-template>
<ng-template #notavail>
  <div class="body1">
    <div class="box">
      <img src="assets/icon_nothing.png" alt="Nothing" />
      <p class="ss">No Favorites added</p>
    </div>
  </div>
</ng-template>
