
.heading{
  display: none;
}
.body1 {
  width: 100%;
  padding: 29vh 0vh;
  /* border: 2px solid red; */
  align-items: center;
}

.icon{
  float: right;
  right: 0;
  color: #FFFFFF;
  margin-top: 3vh;
 height: fit-content;
}
.total{
  color:#FFFFFF ;
  display: flex;
  justify-content: space-between;
}

.body1 .box {
  text-align: center;
  margin:auto;
  /* border: 2px solid green; */
  height: 130px;
  width: 167px;
}
.ss {
  margin-top: 25px;
  font-size: 18px;
  line-height: 21px;
  color: white;
}

.body {
  padding-top: 2.25%;
  width: 100%;
}

.list {
  color: white;
}
.body .details {
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5%;
}

.clear button {
  color: white;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.tab_container {
  overflow-y: scroll;
  width: 100%;
}
.tab_container tr {
  border: 1px solid black;
}
.text_td {
  margin-left: 2%;
}

.text_td p {
  margin-left: 5%;
}

tr img {
  width: 10vh;
height: 8vh;
margin-top: -6%;
}
.tab_container td {
  align-items: center;
}
.inside_td .p {
  color: white;

  font-size: 32px;
  line-height: 38px;
}
.inside_td{
  padding-top: 2%;
  width: 20vw;
  display: flex;
  justify-content: space-between;
}
.place {
    width: 10vw;
    margin: 2vh;
    padding: 15px;
    margin-top: 2%;
  font-size: 18px;
  margin-top: 1%;
}
.total:hover{
    color: #FAD05B;
}
.index {
    margin-left: 2.5vw;
    margin-top: 1.5vh;
    width: fit-content;
  color: white;
  font-size: 25px;
}


tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.color {
  background-color: rgba(255, 255, 255, 0.1);
}

p .p{
    margin: 0;
}



p .p{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.big{
    font-size: 40px;
    line-height: 38px;
}

.cnt1{
    margin-top: 2%;
      width: 20vw;
}
.table{
  overflow-y: auto;
  height:fit-content;
  height: 67vh;
}
.icon{
  margin-right: 3vw;
  color: #FAD05B;
}

@media (max-width:700px){
  .body .details {
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5%;
}

.clear button {
  color: white;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.text_td {
  margin-left: 2%;
}

.text_td p {
  margin-left: 3%;
}

.inside_td .p {
  color: white;
  font-size: 20px;
  line-height: 12px;
}
.inside_td{
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
}
.place {
    margin: 1vh;
    padding: auto;
    margin-top: 2%;
  font-size: 14px;
  margin-top: 1%;
}
.index {
    margin-left: 1vw;
    margin-top: 1.5vh;
    width: 100px;
  color: white;
  font-size: 15px;
}


tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.color {
  background-color: rgba(255, 255, 255, 0.1);
}

p .p{
    margin: 0;
}


p .p{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.big{
    font-size: 24px;
    line-height: 38px;
}


.icon{
  margin-right: 2vw;
}
}

@media (max-width: 500px){
  .heading{
  margin: 0;
  padding: 0%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: 100vw;
  background-color: #FFFFFF;
  
}
  .body1 {
  width: 100%;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  /* border: 2px solid red; */
  align-items: center;
}
.back{
  margin-left: 6vw;
}
.title{
  margin-left:20.5vw;
  font-size: 18px;
  color: #292F33;
}

.search{
  margin-left: 15vw;

}
.body1 .box {
  text-align: center;
  margin:auto;
  margin-top: 176px;
  /* border: 2px solid green; */
  height: 130px;
  width: 167px;
}
.ss {
  margin-top: 25px;
  font-size: 18px;
  line-height: 21px;
  color: white;
}

.body {
  padding: 16px;
  width: 90%;
}

.list {
  color: white;
}
.body .details {
  width: 90%;
  font-size: 13px;
  color: white;
  margin-bottom: 1.5%;
}

.clear button {
  margin-left: 5px;
  color: white;
  font-size: 13px;
  border: none;
  background-color: transparent;
}

.tab_container {
  width: 100%;
}

.text_td {
  margin-top:5%;
}

.text_td p {
  margin-left: 5%;
}

.tab_container td img {
 width: 11vw;
height: 5vh;
margin-top: -7%;
}
.inside_td .p {
  color: white;
  margin-left: -88vw;

  font-size: 13px;
  line-height: 15px;
}
.place {  
  padding: 5px;
  margin-bottom: 0%;
    /* line-height: 19px; */
  font-size: 15px;
  color: #FAD05B;
  margin-top: 1%;
}



tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.color {
  background-color: rgba(255, 255, 255, 0.1);
}

.false{
    font-weight: 600;
    color: white;
}
.true{
    color: #FAD05B;
}

p .p{
    font-size: 13px;
    font-weight: 600;
}
.big{
    font-size: 18px;
    line-height: 21px;
}
.cnt1{
    margin: 0;
      width: fit-content;

} 
td{
  height: fit-content;
}
.inside_td{
  margin-left: -75vw;
  margin-top: 3vh;
  height: 30px;
  margin-bottom: -150vh;
}
.total{
  padding: 2.5vh;
}
.icon{
  color: #FAD05B;
}
tr{
  height: 20px;
}
.title b{
  width:1vw;
}
.place{
  width: 200px;
  margin-left: -20vw;
}
.inside_td{
 margin-left: -88vw;
}
.index{
  width: 25vw;
  margin-top: 0.5vh;
}
.searching {
    padding-top: 15vw;
    text-align: justify;
    list-style-type: none;
    height: 91vh;
width: 75vw;
margin-left: -44vw;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 5;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    text-align: center; 
  }
  .searching mat-icon{
    height: fit-content;
    color:black;
    width: fit-content;
  }
  .searching .back{
   padding-top: 0px;
margin-top: 9vh;
  }
  .searching input{
    color: black;
    margin-left: 0;
      width: 32vw;
      height: 5vh;
      border:1px solid #0000001a;
  }
  .searching .outer{
    display: contents;
    height: fit-content;
    width: 100vw;
    margin-left: 2vw;
    padding: 3%;
    margin-left:0%;

  }
  .searchbar{
    display: block;
    justify-content: space-around;
    padding-bottom: 5px;
    border-bottom: 1px solid #0000001a;
  }
  .searching,.outer{
    background-color: #ffffff;
  }
.searching {
width: 79vw;
height: 90vh;
}
}
