<div class="heading">
  <div class="back">
    <mat-icon (click)="back()">arrow_back</mat-icon>
  </div>
  <div class="title">
    <b> Favorites</b>
  </div>
  <div class="search">
    <mat-icon matSuffix>search</mat-icon>
  </div>
</div>
<div *ngIf="count > 0; then avail; else notavail"></div>
<ng-template #avail>
  <div class="body">
    <div class="details">
      <div class="list">{{ count }} Added as favourite</div>
      <div class="clear">
        <button (click)="option()"><b>Remove All</b></button>
      </div>
    </div>

    <div class="table">
      <table class="tab_container">
        <tr class="color" *ngFor="let di of favour">
          <td (click)="show(di.data.name)">
            <div class="total">
              <div class="cnt1">
                <p class="place">
                  {{ di.data["name"] }},{{ di.data.sys.country }}
                </p>
              </div>
              <div class="inside_td">
                <div>
                  <img
                    src="http://openweathermap.org/img/wn/{{
                      di.data.weather[0].icon
                    }}@4x.png"
                    alt=""
                  />
                </div>
                <div class="text_td">
                  <p class="p">
                    <span class="big">{{
                      di.data["main"].temp - 273.15 | number: "2.0-0"
                    }}</span
                    >&deg;c
                  </p>
                </div>
                <div>
                  <p class="index">{{ di.data.weather[0].main }}</p>
                </div>
              </div>
              <div class="icon">
                <mat-icon fontIcon="favorite" (click)="removeFav(di)"
                ></mat-icon>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>
<ng-template #notavail>
  <div class="body1">
    <div class="box">
      <img src="assets/icon_nothing.png" alt="Nothing" />
      <p class="ss">No Favorites added</p>
    </div>
  </div>
</ng-template>
