.container{
    /* border:1px solid white; */
    height:18vh;
    /* display: flex;
    align-self: center;
    justify-content: center; */
    color:white;
    position: fixed;
    
    left:0;
    right:0;
    bottom: 0;
    
    border-top: 1px solid #054979;
}
.img-item{
    display: flex;
    margin-top: 5px;
    /* height:9vh; */
    /* height:10vh; */
    /* flex-wrap: wrap; */
    /* max-width: 1000px; */
    width:75%;
    margin:auto;
    align-self: center;
    justify-content: center; 
    /* border:1px solid red; */
}


.img{
    width:15%;
    height:7vh;
    margin-top:2rem;
    /* background-color: black;
    border: 1px solid orange; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
   }
   .img img{
       width:100%;
   }
.first{
    margin-left:9rem;
    /* border:1px solid white; */
}
.footer-item, .last,.last2{
    margin-top:2.2rem;
    color:#1B6BA2;
    font-size:0.9rem;
    margin-left: 3%;
    /* width:12%; */
    /* border:1px solid white; */
}
.copyright{
    font-size: 0.9rem;
    color:#49586B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:0.5rem;
}
.footer-item-3{
    display: none;
}
.footer-item-2{
    display:none;
}
.foot{
    display: flex;
    margin-left:1rem;
    /* border: 1px solid; */
    width:70%
}
@media (max-width:940px){ 
    }
    .footer-item, .last,.last2{
        height:34%;
        /* border:1px solid white; */
        color:#1B6BA2;
        font-size:0.9rem;
        margin-left: 2%;
    }

/* @media(max-width:500px){
    .container{
        height:25vh;
    }
    .img{
        display: none;
    }
    
    .footer-item, .last{
       display: none;
    }
    .last{
        display: flex;
        flex-wrap: wrap;
    }
    .copyright{
        color:#49586B;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:2rem;
    }
    .footer-item-3,.footer-item-2{
        margin-top:1.2rem;
        width:80%;
        margin-left:auto;
        margin-right: auto;
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size:0.8rem;
    }
    .item1{
        display: flex;
        justify-content: space-between;
        color:#1B6BA2;
        
    }
    .footer-item-2{
        display:block;
        display: flex;
        width:70%;
        margin-top:-0.1rem;
        margin-left:auto;
        margin-right: auto;
    }
    .copyright{
        font-size: 0.9rem;
        color:#49586B;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:-0.01rem;
    }
    .img-item{
        display: none;
    }
} */
    @media(max-width:768px){
        .container{
            width:90%;
            margin:auto;
        }
        .img{
            display: none;
        }
        
        .footer-item, .last{
           display: none;
        }
        .last{
            display: flex;
            flex-wrap: wrap;
        }
        .footer-item-3,.footer-item-2{
            margin-top:1.2rem;
            width:80%;
            margin-left:auto;
            margin-right: auto;
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size:0.8rem;
        }
        .item1{
            display: flex;
            
            justify-content: space-between;
            color:#1B6BA2; 
        }
        .item2{
            
        }
        .item3{
            width:60%;
            margin-right:1rem;
        }
        .footer-item-2{
            display:block;
            display: flex;
            justify-content: space-between;
            margin-top:-0.1rem;
        }
        .copyright{
            font-size: 0.9rem;
            color:#49586B;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top:-0.01rem;
        }
        .img-item{
            display: none;
        }
    }
    /* @media (max-height:900px){  */
        /* .container{
            height: 21vh;
        }
    } */