<div class="container">
    <div class="footer-item-3">
        <div class="item1">
            <p>TERMS OF USE</p>  
        </div>
        <div class="item1">
            <p>LEGAL NOTICES</p>
        </div>
        <div class="item1">
            <p>PRIVACY POLICY</p> 
        </div>
    </div>
    <div class="footer-item-2">
        <div class="item1 item2">
            <p>HELPDESK</p>
        </div>
        <div class="item1 item3">
            <p>STAR WARS AT DISNEY STORE</p> 
        </div>
    </div>
    <div class="img-item">
<div class="img">
    <img src="assets/footer_logo.png" alt="lucas film logo">
</div>
<div class="foot">
<div class="footer-item first">
    <p>TERMS OF USE</p>
</div>
<div class="footer-item">
    <p>LEGAL NOTICES</p>
</div>
<div class="footer-item">
    <p>PRIVACY POLICY</p>
</div>
<div class=" last">
    <p>STAR WARS HELPDESK</p>
</div>
<div class=" last2">
    <p>STAR WARS AT DISNEY STORE</p>
</div>

</div>
</div>
<div class="copyright">
    <p>TM & &copy; Lucasfilm Ltd. All Rights Reserved</p>
</div>
</div>