<div class="navBar">
  <div class="text" routerLinkActive="active" routerLink="/films">
    <p>FILMS</p>
  </div>
  <div class="text" routerLinkActive="active" routerLink="/species">
    <p>SPECIES</p>
  </div>
  <div class="text" routerLinkActive="active" routerLink="/planets">
    <p>PLANETS</p>
  </div>
  <div class="text" routerLinkActive="active" routerLink="/characters">
    <p>PEOPLE</p>
  </div>
  <div class="text" routerLinkActive="active" routerLink="/starship">
    <p>STARSHIP</p>
  </div>
  <div class="text" routerLinkActive="active" routerLink="/vehicles">
    <p>VEHICLE</p>
  </div>
</div>
