<div class="container">
  <div class="show">
    <div class="grid">
      <div class="img">
        <img src="https://source.unsplash.com/random?sig={{getRandomNumber()}}" alt="sdsa" />
      </div>
      <div class="details">
        <div class="heading">
          {{ details.name | uppercase}}
        </div>
        <div class="info">
          <div class="infos">
            <div class="grey">Height&nbsp;:&nbsp;</div>
            <div>{{ details.height | titlecase }}</div>
          </div>
          <div class="infos">
            <div class="grey">Mass&nbsp;:&nbsp;</div>
            <div>{{ details.mass | titlecase }}</div>
          </div>
          <div class="infos">
            <div class="grey">Skin Color&nbsp;:&nbsp;</div>
            <div>{{ details.skin_color | titlecase }}</div>
          </div>
          <div class="infos">
            <div class="grey">Hair Color&nbsp;:&nbsp;</div>
            <div>{{ details.hair_color | titlecase }}</div>
          </div>
          <div class="infos">
            <div class="grey">Eye Color&nbsp;:&nbsp;</div>
            <div>{{ details.eye_color | titlecase }}</div>
          </div>
          <div class="infos">
            <div class="grey">Birth Year&nbsp;:&nbsp;</div>
            <div>{{ details.birth_year | uppercase }}</div>
          </div>
          <div class="infos">
            <div class="grey">Birth Year&nbsp;:&nbsp;</div>
            <div>{{ details.gender | titlecase }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
