<div class="nav">
        <div class="choice">
            <div class="navBox" routerLinkActive="hightext"  routerLink="/photos" >
                Photos
                <div routerLinkActive="highlighted"></div>
            </div>
            <div class="navBox" routerLinkActive="hightext"  routerLink="/videos">
                Videos
                 <div routerLinkActive="highlighted"></div>
            </div>
        </div>
        <div class="navBox" routerLinkActive="hightext" routerLink="/fav">
            Favourite
            <div routerLinkActive="highlighted"></div>
        </div>
</div>
    <hr class="border">