
.nav{
    display: flex;
    justify-content: space-between;
    color: #2307355b;
    font-size: 18px;
}
.choice{
    display: flex;
    gap: 3.25vw;
}
.navBox{
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 2px;
    /* background-color: aqua;  */
}
.hightext{
    color:#E81244;
}

.border{ 
    margin: 0;
    margin-top: -4px;
    color: #276AA0;
    opacity: 0.31;

}
.highlighted{
    margin: 0 12px;
    border-bottom: 2.5px solid #f50303;
    margin-top: 3px;
}

@media(max-width:800px){

    .nav{
        font-size: 16px;
    }
}
@media(max-width:600px){

    .nav{
        font-size: 16px;
    }
}

@media(max-width:450px){

     .nav{
        font-size: 14px;
    }
}